.green {
	background: #27ae60;

}

body {
	font-family: "Open Sans";
}

header {
	padding: 75px 0 60px 0;
	color: #ecf0f1;
}

h1 {
	font-size: 52pt;
	padding-bottom: 40px;
}

h2 {
	font-size: 32pt;
	padding: 40px 0 30px 0;
}

h3 {
	padding: 15px 0 0px 0;
}

.centered-pills { text-align: center; }
.centered-pills nav.nav-pills { display: inline-block; margin-bottom: 0; }
.centered-pills > nav > li { display: inline; }
.centered-pills > nav > li > a {
	float: left;
	padding: 25px;
	font-size: 20px;
	color: black;
}

article {
	border-top: 1px solid black;
}

.features {
	padding: 15px 0;
}

a:hover {
	text-decoration: none;
}

.summary {
	padding: 15px 0;
}

dd {
	list-style: square;
}

.title > h2 > a {
	color: black;
}

.title > h2 > a:hover {
	color: #7f8c8d;
}

.small-screen {
	width: 100%;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

.footer {
	margin-top: 50px;
}

footer a {
	float: right;
	display: block;
	padding: 15px;
	color: white;

}

footer a:hover {
	background: #2ecc71;
}

.source-link {
	padding-left: 10px;
	font-size: 12px;
}

.icons-link {
	margin-top: 30px;
	float: left;
	width: 60px;
	display: block;
	color: #34495e;
}

.icons-link:hover {
	color: #ecf0f1;
}

#canvas {
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: 10000;
}