.green {
	background: #27ae60;

}

body {
	font-family: "Open Sans";
}

header {
	padding: 75px 0;
	color: #ecf0f1;
}

h1 {
	font-size: 52pt;
	padding-bottom: 40px;
}

h2 {
	font-size: 32pt;
	padding: 40px 0 30px 0;
}

h3 {
	padding: 15px 0 0px 0;
}

.centered-pills { text-align: center; }
.centered-pills nav.nav-pills { display: inline-block; margin-bottom: 0; }
.centered-pills > nav > li { display: inline; }
.centered-pills > nav > li > a {
	float: left;
	padding: 25px;
	font-size: 20px;
	color: black;
}

article {
	border-top: 1px solid black;
}

.features {
	padding: 15px 0;
}

a:hover {
	text-decoration: none;
}

.summary {
	padding: 15px 0;
}

dd {
	list-style: square;
}

.title > h2 > a {
	color: black;
}

.title > h2 > a:hover {
	color: #7f8c8d;
}


.source-link {
	padding-left: 10px;
	font-size: 12px;
}